.dashboard-container {
    text-align: center;
}

.options {
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 300px;
}

.option-link {
    text-decoration: none;
    color: #333;
    margin: 10px;
}

.option {
    display: inline-block; /* Display options next to each other */
    text-align: center;
    margin: 0 25px; /* Add some horizontal margin to create space between options */
}

.option img {
    width: 100px; /* Set the width of the images */
    height: 100px; /* Set the height of the images */
    margin-bottom: 10px; /* Add some space between the image and the text */
}

.option p {
    margin: 0; /* Remove default margins for the text */
}


.option:hover {
    background-color: #9eb1a2;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(156, 151, 151, 0.1);
}

