/* FeedbackForm.css */
body{
    background-color: #83e3f2;
}

.feedback-form {
    max-width: 400px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.star-rating {
    display: flex;
    margin-top: 5px;
}

.star-rating label {
    font-size: 24px;
    cursor: pointer;
}

.star-rating label.filled {
    color: #FFD700; /* Set the color for filled stars */
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #c34444;
    background-color: #83e3f2;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
