*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    min-height: 80px;
    background:rgb(83, 158, 215);
    color: #ba7171;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header h4{
    padding: 30px;
    text-decoration: none;
    color: #fff;
    text-align: end;
}