.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
  /* margin-left: 10%; */
  /* width: 900px; */
}

.hero__content {
  margin-top: 60px;
  padding-top: 160px;
  padding-left: 40px;
  margin-left: 7%;

  /* width: 600px; */
}
.mb-5{
  width: 500px;
}

.imag{
  margin-top: 60px;
  width: 600px;
}